<div id="center-horizontal">
  <div class="key-column">
    <button (click)="playNote(0);" [className]="noteCssClass[0]">
      @if (displayLetters) { <p>C</p> }
    </button>
    <button (click)="playNote(1);" [className]="noteCssClass[1]">
      @if (displayLetters) { <p>C#</p> }
    </button>
    <button (click)="playNote(2);" [className]="noteCssClass[2]">
      @if (displayLetters) { <p>D</p> }
    </button>
    <button (click)="playNote(3);" [className]="noteCssClass[3]">
      @if (displayLetters) { <p>D#</p> }
    </button>
    <button (click)="playNote(4);" [className]="noteCssClass[4]">
      @if (displayLetters) { <p>E</p> }
    </button>
    <button class="black-key hidden"></button>
    <button (click)="playNote(5);" [className]="noteCssClass[5]">
      @if (displayLetters) { <p>F</p> }
    </button>
    <button (click)="playNote(6);" [className]="noteCssClass[6]">
      @if (displayLetters) { <p>F#</p> }
    </button>
    <button (click)="playNote(7);" [className]="noteCssClass[7]">
      @if (displayLetters) { <p>G</p> }
    </button>
    <button (click)="playNote(8);" [className]="noteCssClass[8]">
      @if (displayLetters) { <p>G#</p> }
    </button>
    <button (click)="playNote(9);" [className]="noteCssClass[9]">
      @if (displayLetters) { <p>A</p> }
    </button>
    <button (click)="playNote(10);" [className]="noteCssClass[10]">
      @if (displayLetters) { <p>A#</p> }
    </button>
    <button (click)="playNote(11);" [className]="noteCssClass[11]">
      @if (displayLetters) { <p>B</p> }
    </button>
    <button class="black-key hidden"></button>
    <button (click)="playNote(12);" [className]="noteCssClass[12]">
      @if (displayLetters) { <p>C</p> }
    </button>
    <button (click)="playNote(13);" [className]="noteCssClass[13]">
      @if (displayLetters) { <p>C#</p> }
    </button>
    <button (click)="playNote(14);" [className]="noteCssClass[14]">
      @if (displayLetters) { <p>D</p> }
    </button>
    <button (click)="playNote(15);" [className]="noteCssClass[15]">
      @if (displayLetters) { <p>D#</p> }
    </button>
    <button (click)="playNote(16);" [className]="noteCssClass[16]">
      @if (displayLetters) { <p>E</p> }
    </button>
  </div>

  <div>
    @if (!displayLetters) { <button class="btn" (click)="toggleLetters()">Show Letters</button> }
    @else { <button class="btn" (click)="toggleLetters()">Hide Letters</button> }
  </div>
</div>

<div>
  <button id="goback-btn" routerLink="">Go Back</button>
</div>

